@use "abstracts/colors";
@use "abstracts/fonts";
@use "abstracts/sizes";

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

main {
    section {
        .grid {
            padding: sizes.$large-7 sizes.$grid-gap;
        }

        h2 {
            margin-bottom: sizes.$grid-gap;
        }

        p {
            margin-bottom: sizes.$grid-gap;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        ul li::before {
            color: colors.$primary; 
            content: "✹ ";
        }
    }
}

.cta {
    padding: sizes.$large-7 sizes.$grid-gap !important;

    .grid__item {
        display: flex;
        flex-direction: column;

        a {
            display: block;
            margin-top: sizes.$grid-gap;
        }
    }
}

#eixo-3 ul {
    margin-bottom: sizes.$grid-gap;
}

#footer__links {
    .grid__item {
        padding: sizes.$grid-gap;
    }
}

@mixin desktop {
    #footer__links {
        .grid__item {
            grid-column: 1/4;
        }
    }

    main {
        section {
            &:nth-child(even) {
                .grid__item {
                    grid-column: 2/4;
                }
            }

            &:nth-child(odd) {
                .grid__item {
                    grid-column: 1/3;
                }
            }
        }
    }

    .cta {
        .grid__item {
            align-items: center;
            grid-column: 1/4;
        }
    }
}
