@use "abstracts/sizes";

.grid {
    display: grid;
    gap: sizes.$grid-gap;
    grid-template-columns: 1fr;
    padding: sizes.$grid-gap;
}

@mixin desktop {
    .container {
        margin: 0 auto;
        width: calc(60% - sizes.$large-1 * 2);
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
