@use "variables/sizing" as size;

.container {}

.grid {
    display: grid;
    gap: size.$gap;
    grid-template-columns: 1fr;
    padding: size.$l1;
}

@mixin tablet {}

@mixin desktop {
    .container {
        margin: 0 auto;
        width: calc(60% - size.$l1 * 2);
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
