@use "variables/color";
@use "variables/typography" as font;

.font-huge {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: font.$huge;
    font-weight: 400;
    letter-spacing: .0625rem;
    line-height: font.$short;
}

h1,
.h1 {
    font-size: font.$h1;
    font-weight: 700;
    line-height: font.$short;
}

h2,
.h2 {
    font-size: font.$h2;
    font-weight: 500;
    line-height: font.$short;
}

h3,
.h3{
    font-size: font.$h3;
    font-weight: 400;
    line-height: font.$tall;
}

caption,
.font-small {
    font-size: font.$small;
    font-weight: 400;
    line-height: font.$short;
}

.font-smaller {
    font-size: font.$smaller;
    font-weight: 400;
    line-height: font.$short;
}

%button {
    align-items: center;
    border-color: color.$btn1;
    border-radius: .19842513rem;
    border-style: solid;
    border-width: .125rem;
    cursor: pointer;
    display: inline-flex;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: font.$small;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .0625rem;
    line-height: font.$short;
    padding: .62996052rem .79370053rem;
    text-decoration: none;
    transition-duration: 200ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: linear;
}

button,
.button {
    @extend %button;
    background-color: color.$btn1;
    color: color.$fg2;

    &:hover {
        background-color: color.$btn1-hover;
        border-color: color.$btn1-hover;
        color: color.$fg2;
    }
}

.button--secondary {
    @extend %button;
    background-color: transparent;
    color: color.$btn1;

    &:hover {
        background-color: color.$btn1;
        color: color.$fg2;
    }
}

.button--large {
    @extend button;
    display: flex;
    padding: 1rem 1.25992105rem;
}

a {
    color: color.$ln;
    font-weight: 500;
    text-decoration: underline;
    transition-duration: 200ms;
    transition-property: color;
    transition-timing-function: linear;

    &:hover {
        color: color.$ln-hover;
    }
}

.font-sans {
    font-family: Montserrat, Arial, Helvetica, sans-serif;

}

.font-bold {
    font-weight: 700;
}

.font-medium {
    font-weight: 500;
}

.font-light {
    font-weight: 300;
}

@mixin tablet {}

@mixin desktop {
    html {
        font-size: 20px;
    }

    .button--large {
        display: inline-flex;
    }
}
