// spacing
$size11: 11.09016994rem;
$size10: 6.85410197rem;
$size9: 4.23606798rem;
$size8: 2.61803399rem;
$size7: 1.61803399rem;
$size6: 1rem;
$size5: .61803399rem;
$size4: .38196601rem;
$size3: .23606798rem;
$size2: .14589803rem;
$size1: .09016994rem;
