@use "abstracts/colors";
@use "abstracts/fonts";
@use "abstracts/sizes";

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300 800;
    font-stretch: 75% 100%;
    src: local("Open Sans"), url(../fonts/OpenSans-VariableFont_wdth,wght.ttf) format("truetype-variations");
}

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300 800;
    font-stretch: 75% 100%;
    src: local("Open Sans"), url(../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf) format("truetype-variations");
}

@font-face {
    font-display: swap;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100 900;
    src: local("Montserrat"), url(../fonts/Montserrat-VariableFont_wght.ttf) format("truetype-variations");
}

%default {
    font-family: colors.$primary;
    font-weight: 400;
    line-height: fonts.$tall;
}

%display {
    font-family: fonts.$secondary;
    font-weight: 500;
    letter-spacing: fonts.$wide;
    line-height: fonts.$short;
}

html {
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

body {
    @extend %default;
    font-size: fonts.$body;
}

.colossal {
    @extend %display;
    font-size: fonts.$colossal;
}

.huge {
    @extend %display;
    font-size: fonts.$huge;
}

h1, .h1 {
    font-size: fonts.$h1;
    font-weight: 700;
    line-height: fonts.$short;
}

h2, .h2 {
    font-size: fonts.$h2;
    font-weight: 500;
    line-height: fonts.$short;
}

h3, .h3 {
    font-size: fonts.$h3;
    font-weight: 300;
    line-height: fonts.$tall;
}

.small {
    @extend %default;
    font-size: fonts.$small;
}

a {
    @extend %default;
    color: colors.$blue;
    transition: color 200ms linear;

    &:hover {
        color: colors.$blue-lighter;
    }

    svg {
        width: sizes.$large-1;
        height: sizes.$large-1;
    }
}

.font-bold {
    font-weight: 700;
}

.font-medium {
    font-weight: 500;
}

.font-regular {
    font-weight: 400;
}

.font-light {
    font-weight: 300;
}

.text-center {
    text-align: center;
}

@mixin desktop {
    html {
        font-size: 20px;
    }

    .huge {
        font-size: fonts.$colossal;
    }

    h1, .h1 {
        font-size: fonts.$huge;
    }

    h2, .h2 {
        font-size: fonts.$h1;
    }

    h3, .h3 {
        font-size: fonts.$h2;
    }
}
