$l12: 20.124805898749063rem;
$l11: 15.821143884402295rem;
$l10: 12.437814062421294rem;
$l9: 9.778004661463154rem;
$l8: 7.686991836327766rem;
$l7: 6.043139222939138rem;
$l6: 4.750822226093528rem;
$l5: 3.734865438524016rem;
$l4: 2.936169610234238rem;
$l3: 2.3082737844151224rem;
$l2: 1.81465261585929rem;
$l1: 1.426591654108893rem;
$m: 1.1215169943749477rem;
$s1: 0.8816821303062294rem;
$s2: 0.6931356214843423rem;
$s3: 0.5449095238026636rem;
$s4: 0.4283813728906053rem;
$s5: 0.3367726065035659rem;
$s6: 0.26475424859373686rem;
$s7: 0.20813691729909758rem;
$s8: 0.16362712429686843rem;
$s9: 0.12863568920446827rem;
$s10: 0.10112712429686843rem;
$s11: 0.07950122809462931rem;
$s12: 0.0625rem;

// font size
$huge: $l6;
$h1: $l2;
$h2: $l1;
$body: $m;
$small: $s1;
$smaller: $s2;

// line height
$tall: 1.618033988749895;
$short: 1.272019649514069;

// border radius
$rounded: $l2;

// grid gap
$gap: $l1;
