@keyframes background-fade {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.05572809);
    }

    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}

.background-fade {
    background-color: #000;
    overflow: hidden;
    position: relative;

    .background-fade__image {
        min-height: 61.80339887vh;
    }
}

#promo-1 {
    background: url(../images/bg1.webp) no-repeat center / cover;
}

#promo-2 {
    background: url(../images/bg2.webp) no-repeat center / cover;
}

#promo-3 {
    background: url(../images/bg3.webp) no-repeat center / cover;
}

@mixin desktop {
    .background-fade {
        .background-fade__image {
            animation: 20s linear infinite background-fade;
        }
    }

    #promo-1 {
        background: url(../images/bg1.jpg) no-repeat center / cover;
    }

    #promo-2 {
        background: url(../images/bg2.jpg) no-repeat center / cover;
    }

    #promo-3 {
        background: url(../images/bg3.jpg) no-repeat center / cover;
    }
}
