@use "../variables/color";
@use "../variables/sizing" as size;

%button {
    align-items: center;
    border-color: color.$btn1;
    border-radius: size.$rounded;
    border-style: solid;
    border-width: .125rem;
    cursor: pointer;
    display: inline-flex;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .0625rem;
    line-height: size.$short;
    padding: size.$s1;
    text-decoration: none;
    transition-duration: 200ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: linear;
}

button,
.button {
    @extend %button;
    background-color: color.$btn1;
    color: color.$fg2;

    &:hover {
        background-color: color.$btn1-hover;
        border-color: color.$btn1-hover;
        color: color.$fg2;
    }
}

.button--secondary {
    @extend %button;
    background-color: transparent;
    color: color.$btn1;

    &:hover {
        background-color: color.$btn1;
        color: color.$fg2;
    }
}

.button--large {
    @extend button;
    display: flex;
    padding: size.$m;
}

.button--icon {
    @extend %button;
    background-color: transparent;
    border-color: transparent;
    color: color.$ln;
    line-height: 1;

    &:hover {
        color: color.$ln-hover;
    }
}

@mixin tablet {}

@mixin desktop {
    .button--large {
        display: inline-flex;
    }
}
