$l12: 100%;
$l11: 91.66666667%;
$l10: 83.33333333%;
$l9: 75%;
$l8: 66.66666667%;
$l7: 58.33333333%;
$l6: 50%;
$l5: 41.66666667%;
$l4: 33.33333333%;
$l3: 25%;
$l2: 16.66666667%;
$l1: 8.33333333%;

$blue: hsl(225, $l9, $l6);
$blue-lighter: lighten($blue, $l1);
$dark: hsl(240, $l1, $l2);
$dark-darker: hsl(240, $l1, $l1);
$dark-lighter: hsl(240, $l1, $l3);
$gray: hsl(240, $l1, $l6);
$gray-darker: hsl(240, $l1, $l5);
$gray-lighter: hsl(240, $l1, $l7);
$green: hsl(150, $l6, $l6);
$green-lighter: lighten($green, $l1);
$light: hsl(240, $l1, $l11);
$light-darker: hsl(240, $l1, $l10);
$light-lighter: hsl(240, $l1, $l12);
$primary: hsl(90, $l8, $l6);
$primary-darker: darken($primary, $l1);
$primary-lighter: lighten($primary, $l1);
$red: hsl(0, $l9, $l6);
$red-lighter: lighten($red, $l1);
$secondary: complement($primary);
$secondary-lighter: lighten($secondary, $l1);

$gradient: linear-gradient(150deg, $light-lighter, $primary);

$background-light: $light;
$background-lighter: $light-lighter;
$background-dark: $dark;
$background-darker: $dark-darker;

$text-light: $light-darker;
$text-lighter: $light-lighter;
$text-dark: $dark-lighter;
$text-darker: $dark-darker;

$border: $light-darker;
