$primary: "Open Sans", Arial, Helvetica, sans-serif;
//$secondary: Montserrat, Arial, Helvetica, sans-serif;
$secondary: "Gloria Hallelujah", cursive;

$tall: 1.61803399;
$short: 1.27201965;

$wide: .09016994rem;
$narrow: -.09016994rem;

$colossal: 3.33019068rem;
$huge: 2.61803399rem;
$h1: 2.05817103rem;
$h2: 1.61803399rem;
$h3: 1.27201965rem;
$body: 1;
$small: .78615138rem;
