$large-12: 17.94427191rem;
$large-11: 14.10691408rem;
$large-10: 11.09016994rem;
$large-9: 8.71855238rem;
$large-8: 6.85410197rem;
$large-7: 5.3883617rem;
$large-6: 4.23606798rem;
$large-5: 3.33019068rem;
$large-4: 2.61803399rem;
$large-3: 2.05817103rem;
$large-2: 1.61803399rem;
$large-1: 1.27201965rem;

$medium: 1rem;

$small-1: .78615138rem;
$small-2: .61803399rem;
$small-3: .48586827rem;
$small-4: .38196601rem;
$small-5: .30028311rem;
$small-6: .23606798rem;

$border: .14589803rem;
$border-thicker: .23606798rem;
$border-thinner: .09016994rem;

$grid-gap: $medium;
